@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fff;
$subColor: #1234B2;
$keyColor: #1234B2;
$fontColor: #595959;
$buttonColor: #ef5214;


/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
/*.button-contact {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 2px solid $fontColor;
  color: $fontColor;
  text-align: center;
  display: block;
  float: right;
  @include border-radius(4px);
  font-size: 20px;
  line-height: 0;
  margin: 20px 20px 0 0;
  &:visited {
    color: $fontColor;
  }
}
*/
header {
  .site-top {
    width: 100%;
    margin: auto;
    padding: auto;
    clear: both;
  }
  .site-title {
    font-size: 1.8rem;
    line-height: normal;

  // .marker{
  //     background: linear-gradient(transparent 60%, #fff08b 60%);
  //     }

    span {
      display: block;
      font-size: 4.2rem;
      padding: 20px;
      color: $keyColor;
          }
  }
  .top-img {
    // @include border-radius(50%);
    // background-image: url("../image/pexels-photo.jpg");

      display: block;
      position: relative;
      // margin: auto;
//      width: auto;
      max-height: 200px;
      height: auto;
      width: 100%;
      background-size: cover;
      background-position: center center;
  }
  p {
    font-size: 1.6rem;
  }
}
    
  /* Header
  ------------------------------------------------------------*/
  
  /* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 30px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

// Contents
#contents {
  background-color: $subColor;
  
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }

  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .content-box {
    @include flex(1);
    margin: 10px 0 10px 0;    
    padding: 0 0 20px 0;
    background-color: $baseColor;
//    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  .content-titlebox {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    padding: 10px 0;
    background-color: $baseColor;
    border-bottom: 1.5px solid $subColor;
//    @include border-radius(4px);
    @include box-sizing(border-box);

  }

    p{
      margin: 10px;
    }


  i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: $keyColor;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @extend .block-center;
  }
  h3 {
    @extend .abel;
    //@extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}


.end-button{
  
    padding: 20px;

  
}

.register-button {
  width: 150px;
  padding: 20px;
  border: 2px solid $buttonColor;
  color: $baseColor;
  background-color: $buttonColor;
  text-align: center;
  display: block;
  float: center;
  @include border-radius(4px);
  font-size: 15px;
  line-height: 0;
  margin: 0 auto;

}


  h3 {
    @extend .abel;
    //@extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2rem;
    font-weight: bold;
  }

footer {
  background-color: $subColor;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
}

// desktop
@media (min-width: 768px) {

  header {
    .top-img {
    // @include border-radius(50%);
    // background-image: url("../image/pexels-photo.jpg");

      display: block;
      position: relative;
      // margin: auto;
//      width: auto;
      max-height: 500px;
      height: auto;
      width: 100%;
      // background-size: cover;
      // background-position: center center;
  }
}
    #contents {
    .container {
      @include flex-direction(row);     // スキルボックスを横に並べる
      justify-content: space-between;
    }
    .content-box {
      margin: 0 10px;                   // 左右にマージン
    }
  }
 .register-button {
  &:visited {
    color: $fontColor;
  }
  &:hover {
    border: 2px solid #ffa07a;
    background-color: darken(#ffa07a, 10%);
  }
} 
}